.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #555b62;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #fb6340;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #fb6340;
}

.invalid-feedback {
  font-size: 80%;
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  color: #fb6340;
}
