<div class="from-group">
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Task Name</th>
            <th>Task Discription</th>
            <th>Repeating Task</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input id="chkboxIsProbation" type="checkbox" name="chkboxIs" [checked]="check"
                    (change)="OnDefaultUserChange()">
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

</div>